Repository piro0919/link: changes, and which lefthook commands are due for each by the changed paths.
All: biome, secretlint, typescript

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "src/**/*.{ts,tsx,js,jsx,json}"
      run: npx biome check --write {staged_files}
      stage_fixed: true
    secretlint:
      glob: "**/*"
      run: |
        for file in {staged_files}; do
          if [ -f "$file" ]; then
            cat "$file" | npx secretlint --maskSecrets --stdinFileName="$file" || exit 1
          fi
        done
    typescript:
      glob: "src/**/*.{ts,tsx}"
      run: npx tsc --noEmit

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

chore: initialize Supabase with SSR client setup
  src/lib/supabase/client.ts
  src/lib/supabase/proxy.ts
  src/lib/supabase/server.ts
  src/proxy.ts
  supabase/.gitignore
  supabase/config.toml
Due: biome, secretlint, typescript

docs: add CLAUDE.md with project guidelines
  CLAUDE.md
Due: none

chore: add VSCode workspace settings
  .vscode/extensions.json
  .vscode/settings.json
Due: secretlint

chore: install shadcn/ui with base components
  components.json
  knip.json
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/components/ui/avatar.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/separator.tsx
  src/lib/utils.ts
Due: biome, secretlint, typescript

feat: enable Google OAuth in Supabase config
  .env.example
  supabase/config.toml
Due: secretlint

feat: add profiles table with auto-creation trigger
  supabase/migrations/20260225000001_create_profiles_table.sql
  supabase/migrations/20260225000002_create_profiles_rls.sql
  supabase/seed.sql
Due: secretlint

feat: add Google OAuth login and profile pages
  next.config.ts
  src/app/(auth)/auth/callback/route.ts
  src/app/(auth)/login/actions.ts
  src/app/(auth)/login/page.tsx
  src/app/(authenticated)/page.tsx
  src/app/(authenticated)/profile/_components/profile-form.tsx
  src/app/(authenticated)/profile/actions.ts
  src/app/(authenticated)/profile/page.tsx
  src/app/(authenticated)/profile/schema.ts
  src/app/layout.tsx
  src/app/page.tsx
Due: biome, secretlint, typescript

chore: clean up boilerplate and update docs
  CLAUDE.md
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
Due: secretlint

feat: add link_id column to profiles table
  supabase/migrations/20260225000003_add_link_id_to_profiles.sql
Due: secretlint

feat: add friend_requests table with RLS
  supabase/migrations/20260225000004_create_friend_requests.sql
Due: secretlint

feat: add conversations and messages tables
  supabase/migrations/20260225000005_create_conversations_and_messages.sql
Due: secretlint

chore: generate DB types and add shadcn components
  src/components/ui/badge.tsx
  src/components/ui/dialog.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/textarea.tsx
  src/lib/supabase/client.ts
  src/lib/supabase/database.types.ts
  src/lib/supabase/server.ts
Due: biome, secretlint, typescript

feat: add link_id editing to profile page
  src/app/(authenticated)/profile/_components/profile-form.tsx
  src/app/(authenticated)/profile/actions.ts
  src/app/(authenticated)/profile/page.tsx
  src/app/(authenticated)/profile/schema.ts
Due: biome, secretlint, typescript

feat: add friends feature with search and requests
  src/app/(authenticated)/friends/_components/add-friend-dialog.tsx
  src/app/(authenticated)/friends/_components/friend-request-list.tsx
  src/app/(authenticated)/friends/actions.ts
  src/app/(authenticated)/friends/page.tsx
  src/app/(authenticated)/friends/schema.ts
Due: biome, secretlint, typescript

feat: add real-time chat with Supabase Realtime
  src/app/(authenticated)/chat/[conversationId]/_components/message-input.tsx
  src/app/(authenticated)/chat/[conversationId]/_components/message-list.tsx
  src/app/(authenticated)/chat/[conversationId]/actions.ts
  src/app/(authenticated)/chat/[conversationId]/page.tsx
Due: biome, secretlint, typescript

feat: replace home page with conversation list
  src/app/(authenticated)/page.tsx
Due: biome, secretlint, typescript

feat: add bottom tab navigation bar
  src/app/(authenticated)/_components/bottom-nav.tsx
  src/app/(authenticated)/layout.tsx
  src/app/(authenticated)/profile/page.tsx
  src/app/(chat)/chat/[conversationId]/_components/message-input.tsx
  src/app/(chat)/chat/[conversationId]/_components/message-list.tsx
  src/app/(chat)/chat/[conversationId]/actions.ts
  src/app/(chat)/chat/[conversationId]/page.tsx
Due: biome, secretlint, typescript

chore: update CLAUDE.md, knip config, and clean up schemas
  CLAUDE.md
  knip.json
  src/app/(authenticated)/friends/schema.ts
  src/app/(authenticated)/profile/schema.ts
Due: biome, secretlint, typescript

feat: add dev login and test user seeding for local development
  package.json
  src/app/(auth)/login/_components/dev-login-form.tsx
  src/app/(auth)/login/actions.ts
  src/app/(auth)/login/page.tsx
  supabase/config.toml
  supabase/seed.sql
Due: biome, secretlint, typescript

fix: set email_change columns in seed to prevent GoTrue scan error
  supabase/seed.sql
Due: secretlint

feat: add friend relationship and sample messages to seed data
  supabase/seed.sql
Due: secretlint

feat: add Supabase auth middleware for session refresh
  src/lib/supabase/middleware.ts
  src/middleware.ts
Due: biome, secretlint, typescript

refactor: replace middleware.ts with proxy.ts using getClaims()
  src/lib/supabase/middleware.ts
  src/lib/supabase/proxy.ts
  src/middleware.ts
  src/proxy.ts
Due: biome, secretlint, typescript

fix: resolve infinite recursion in conversation_participants RLS
  supabase/migrations/20260225000006_fix_conversation_participants_rls.sql
Due: secretlint

feat: add call_sessions table for audio/video calling
  src/lib/supabase/database.types.ts
  supabase/migrations/20260225000007_create_call_sessions.sql
Due: biome, secretlint, typescript

feat: add SkyWay SDK packages and environment variables
  .env.example
  package.json
  pnpm-lock.yaml
  src/env.ts
Due: secretlint

feat: add server actions for call management and SkyWay tokens
  src/app/(chat)/chat/[conversationId]/call-actions.ts
Due: biome, secretlint, typescript

feat: add call UI components and integrate into layout
  src/app/(chat)/chat/[conversationId]/_components/call-buttons.tsx
  src/app/(chat)/chat/[conversationId]/page.tsx
  src/app/layout.tsx
  src/lib/call/call-context.tsx
  src/lib/call/call-overlay.tsx
  src/lib/call/incoming-call-dialog.tsx
Due: biome, secretlint, typescript

docs: update CLAUDE.md with call_sessions table and call module docs
  CLAUDE.md
  knip.json
Due: none

feat: add Serwist and web-push packages for PWA support
  package.json
  pnpm-lock.yaml
  src/proxy.ts
  tsconfig.json
Due: secretlint

feat: add PWA manifest, service worker, and app icons
  public/icon-192.png
  public/icon-512.png
  src/app/manifest.ts
  src/app/sw.ts
  src/proxy.ts
Due: biome, secretlint, typescript

feat: add push_subscriptions table and VAPID environment variables
  .env.example
  src/env.ts
  src/lib/supabase/database.types.ts
  supabase/migrations/20260225000008_create_push_subscriptions.sql
Due: biome, secretlint, typescript

feat: add push notification server utilities and subscription actions
  src/lib/push/actions.ts
  src/lib/push/send.ts
Due: biome, secretlint, typescript

feat: add push notification handlers and client subscription manager
  src/app/(authenticated)/layout.tsx
  src/app/sw.ts
  src/lib/push/push-subscription-manager.tsx
Due: biome, secretlint, typescript

feat: integrate push notifications into message and call flows
  src/app/(chat)/chat/[conversationId]/actions.ts
  src/app/(chat)/chat/[conversationId]/call-actions.ts
Due: biome, secretlint, typescript

docs: update CLAUDE.md with PWA and push notification docs
  CLAUDE.md
  knip.json
  src/lib/push/actions.ts
Due: biome, secretlint, typescript

feat: add use-pwa install button and iOS PWA prompt
  package.json
  pnpm-lock.yaml
  src/app/(authenticated)/layout.tsx
  src/app/(authenticated)/profile/page.tsx
  src/lib/pwa/pwa-install-button.tsx
  src/lib/pwa/pwa-prompt.tsx
Due: biome, secretlint, typescript

feat: add robots.ts and sitemap.ts for SEO
  src/app/robots.ts
  src/app/sitemap.ts
Due: biome, secretlint, typescript

feat(ui): change brand color from neutral gray to green
  src/app/globals.css
Due: secretlint

feat(db): add read_at column and unread counts RPC to messages
  src/lib/supabase/database.types.ts
  supabase/migrations/20260225000009_add_read_at_to_messages.sql
  supabase/seed.sql
Due: biome, secretlint, typescript
